* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.nav-menu {
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu ul li {
    margin-left: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #000;
    
}

.search {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.search a {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    color: #000;
    text-decoration: none;
}

.search input {
    border: 2px solid #696969;
    border-right: none;
    padding: 10px;
    border-radius: 1rem 0 0 1rem;

}

.search button {
    border: 2px solid #696969;
    border-left: none;
    background-color: #ffff;
    border-radius: 0 1rem 1rem 0;
    padding: 7px;

}

.search button img {
    width: 20px;
}

.banner {
    background-image: url("images/banner-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; /* Ocupa la altura completa del viewport */
}


.container {
    display: block;
    justify-content: center;
    color: aliceblue;
    text-align: center;
}

.container img {
    width: 60%;
}

.container p {
    font-size: 1rem;
}

.buttons {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons a {
    background-color: transparent;
    border: 2px solid #696969;
    padding: 15px;
    border-radius: 5rem;
    text-decoration: none;
    color: #ffffff;
    width: 200px;
    margin: 5px;
    font-size: 15px;
    transition: all 0.3s ease;
    font-weight:500;
}

.buttons a:hover {
    background-color: #ff4343;
    border: 2px solid #ff4343;
    color: #000;
    font-weight:500;
}

.section-2 {
    background-color: #655FB1;
    height: 100vh;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card img {
    width: 100%;
}

.card-info {
    display: flex;
    background-color: #E8C75C;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 250px;
    width: 100%;
    text-align: center;
}

.card-info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: fit-content;
    margin: 10px;
}

.card-info-title h2 {
    font-size: 20px;
    font-weight: 300;
}

.card-info-text { 
    display: flex;
    justify-content: center;
    height: 350px;
}

.card-info-button a, h2 {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 300;

}

.section-3 {
    height: 100vh;
    background-color: #054553;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 3rem;
}

.title-container h1 {
    font-size: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;   
}

.disney-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.disney-plus-img {
    width: 100%;
}

.disney-plus-img img {
    width: 80%;
}

.disney-plus-text {
    display: flex;
    justify-content: space-around;
}

.text-container {
    width: 50%;
}

.text-container p {
    font-size: 25px;
    font-weight: 300;
}

.disney-puls-btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: fit-content;
    margin: 10px;
}

.btn-container a {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.section-4 {
    background-color: #F1F2F3;
}

.poster-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster {
    margin: 1rem;
    width: 300px;
    height: 500px;
    flex-direction: column;
    align-items: center;

}

.poster-img img {
    width: 300px;
}

.poster-text {
    width: 300px;
    height: fit-content;
    margin: 10px;
    font-weight: lighter;
    text-align: left;
}


footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #E8C75C;
}

footer p {
    font-size: 12px;
    font-weight: 300;
    margin: 10px;
    color: #696969;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.buttons-container a {
    text-decoration: none;
    margin: 0.5rem 1rem;
    color: #000000;
    font-size: 15px;
}

.buttons-container a:hover {
    font-weight: bold;
}